.icon-styling {
  border:1px solid black;
  padding:5px 10px;
}
i:hover{
  cursor: pointer;
  background-color: black;
  color:white;
}
.blue-FTW {
  background-color:#8888ff;
}

.jumbotron {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter:grayscale(0.5);
  -webkit-filter:grayscale(0.5);
}

.jumbotron div {
  background-color:rgba(100,100,100,.5);
  color:ghostwhite;
  margin: 0 auto;
}
